.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Editor {
  width: 440px;
  padding: 10px;
  text-align: left;
}

.ScrollableEditor {
  background-color: #333740;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.ConsoleContainer {
  background-color:#24272c;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConsoleScrollable {
  display: flex;
  width: 100%;
  max-height: 100%;
  flex: 1;
  overflow-y: auto;
}

.Console {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-size: 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.CompileButton {
  margin: 0.5rem;
}

.ConsoleText {
  padding: 0.1rem 0.2rem;
}

.TextError {
  color: #b00020;
}

.TextOutput {
  color: #c9c8c8;
}

.row-container {
  height: 540px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

textarea:focus {
  outline: none;
}