.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Editor {
  width: 440px;
  height: 300px;
  max-width: 100%;
  padding: 10px;
  text-align: left;
  background-color: #333740;
}

textarea:focus {
  outline: none;
}