:root {
  --color-primary: #25f398
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Banner {
  background-color: var(--color-primary);
  color: #282c34;
  width: 100%;
}

.Banner h1 {
  margin: 1rem 0;
}

.Editor {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.ScrollableEditor {
  background-color: #333740;
  height: 100%;
  width: 100%;
  flex: 2;
  overflow: auto;
}

.ConsoleContainer {
  background-color:#24272c;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConsoleScrollable {
  display: flex;
  width: 100%;
  max-height: 100%;
  flex: 1;
  overflow-y: auto;
}

.Console {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-size: 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.CompileButton {
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;;
  font-weight: 700;
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.CompileButton:active {
  opacity: 0.7;
}

.ConsoleText {
  padding: 0.1rem 0.2rem;
}

.TextError {
  color: #b00020;
}

.TextOutput {
  color: #c9c8c8;
}

.row-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

textarea:focus {
  outline: none;
}